%h2= @forum.name

%ol.breadcrumbs
  %li= link_to t(:community), '/forums'
  %li= @forum.category.name
  %li= @forum.name

%table
  %thead
    %tr
      %td= t(:topics)
  %tbody
    - @forum.topics.each do |topic|
      %tr
        %td= topic.title