%h2= @forum.name

%ol.breadcrumbs
  %li= link_to t(:community), '/forums'
  %li= @forum.category.name
  %li= @forum.name

%table.topics
  %thead
    %tr
      %td= t(:topics)
  %tbody
    - @topics.each do |topic|
      %tr
        %td= link_to topic.title, topic

/= will_paginate @topics