%h2= @topic.title

%ol.breadcrumbs
  %li= link_to t(:community), forums_path
  %li= @topic.forum.category.name
  %li= link_to @topic.forum.name, @topic.forum
  %li= @topic.title

#userbox
  - if user_signed_in?
    %p= t('user.welcome', username: current_user.name)
  - else
    = link_to t('user.login'), user_session_path

- flash.each do |key, value|
  %div{:class => "flash #{key}"}
    = value

%table.posts
  - @posts.each do |post|
    %tr
      %td= post.user.name
      %td= raw post.to_html

- if user_signed_in?
  = render 'posts/post'

/= will_paginate @posts
